.venv*
results
brouillons
checkpoints
util_nbks
data
__pycache__
.vscode
.ipynb_checkpoints
*.egg-info

*_brouillon.sh
*_brouillon.py
*_brouillon.yaml


*.mrxs
*.ini
*.dat
*.svs
*.ndpi
*.csv
*.xlsx
*.tar

*.pkl
*.pickle
*.pt 
*.pth

*.jpg

*A_*.png
*B_*.png
*D_*.png

sample_tile.png
gitconfig.sh